@model CentralService.Models.ExtraPromotionModel

<table class="table table-hover table-striped dataTable no-footer" cellspacing="0" id="gv_viewProCouponEmp" style="border-collapse:collapse; width: 100%;" role="grid" aria-describedby="gv_viewProCouponEmp_info">
    <thead>
        <tr>
            <th scope="col">โค้ดคูปอง</th>
            @*<th scope="col">ชุดรหัสคูปอง</th>
                <th scope="col">ชื่อคูปอง</th>

                <th scope="col">จำนวนเงินส่วนลด</th>
                <th scope="col">เปอร์เชนต์ส่วนลด</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.SBProCouponDetailEmp)
            {
                <tr>
                    <td>@item.coupon_code</td>
                </tr>
            }
        }
    </tbody>
</table>