@model CentralService.Models.ExtraPromotionModel

<table class="table table-hover table-striped dataTable no-footer" cellspacing="0" id="gv_viewpromotion" style="border-collapse:collapse; width: 100%;" role="grid" aria-describedby="gv_viewPromotion_info">
    <thead>
        <tr>
            <th scope="col">รหัสสินค้า</th>
            <th scope="col">ชื่อสินค้า</th>
            <th scope="col">ราคาขายปลีก</th>
            <th scope="col">ราคาขายโปรโมชั่น</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.SBPromotionDisDetail)
            {
                <tr>
                    <td>@item.pro_code</td>
                    <td>@item.pro_name</td>
                    <td>@item.pro_price_detail</td>
                    <td>@item.pro_discount_rate_special</td>
                </tr>
            }
        }
    </tbody>
</table>