.selectize-input {
    min-height: 50px;
}

.checkbox label, .radio label, input {
    margin-bottom: 5px;
}

th {
    text-align: center;
}

.select2-results__option .wrap:before {
    font-family: fontAwesome;
    color: #999;
    content: "\f096";
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.select2-results__option[aria-selected=true] .wrap:before {
    content: "\f14a";
}


#chkPromotionList td {
    padding-right: 40px;
}

.multiselect-container {
    height: 200px;
    overflow-y: scroll;
}
