@model CentralService.Injection.ISearchModel

<div class="modal right fade" id="car_reg-modal" role="dialog">
    <div class="modal-dialog modal-lg" style="margin-top: 0;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0;background-color: #313167;">
                <div class="row">
                    <div class="col-md-12 title-head">
                        <div><font color="#FFFFFF"><b>เลือกรถยนต์</b></font></div>
                    </div>
                </div>
                <br />
            </div><br />
            <div class="modal-body" style="padding-top: 0;padding-bottom:0">
                <table class="table nowrap table-style" id="gv_carreg-list" style="width:100%;font-size: 13px;">
                    <thead>
                        <tr style="box-shadow: none;">
                            <th>เลขทะเบียน</th>
                            <th>จังหวัด</th>
                            <th>ชื่อ-สกุล</th>
                            <th>โทรศัพท์มือถือ</th>
                            <th>ยี่ห้อ</th>
                            <th>รุ่น</th>
                            <th>สี</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:13px"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
