
@{
    ViewBag.Title = "ClassicAsp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="Content-Type" content="text/html; charset=windows-874">
<div id="classicAspContainer">
    <iframe name="form-iframe" id="form-iframe" src="@Url.Content(@ViewBag.AspFile)"></iframe>
</div>
<div id="modalPopup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<script type="text/javascript">
    console.log('url = ' + document.getElementById('form-iframe').src);
</script>