

<div class="modal right fade" id="bluecard" role="dialog">
    <div class="modal-dialog" style="margin: auto;
    margin-top: 140px;
    width: 40%;
    height: 20vh;
    max-width: none;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Blue Card</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body" style="padding-top: 15px;padding-bottom:0;">

                <div class="row col-md-12 center">

                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <button class="btn btn-info btn-lg" id="btnGetPoint" type="button" style="width:192px">ดูคะแนน Blue Card</button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button class="btn btn-info  btn-lg" id="btnBlueCardRegister" type="button" style="width:192px">สมัคร Blue Card</button>
                    </div>


                </div>
                <br>
                <div class="row col-md-12 center">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <button class="btn btn-info  btn-lg" id="btnReSendOrderBlueCard" type="button" style="width:192px">รายการไม่สำเร็จ <mark class="alert-warning" id="CountNotSuccess">@ViewBag.CountNotSuccess</mark></button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button class="btn btn-info  btn-lg" id="btnCloseBatch" type="button" style="width:192px">ปิด Batch BlueCard</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer" style="display: block; text-align:right">
                @*<button type="button" id="btnConfirmBlueCard" class="btn btn-success">ยืนยัน</button>*@
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
      
    });

    $('#btnOpenBatch').on('click', function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("OpenOrClodeBatchBlueCardDayEnd", "BlueCard")',
            data: { FlageOpen: true },
            beforeSend: function beforeSend() {
                $("#loaderDiv").show();
            },
            success: function success(resp) {
                if (resp.Code != "00") {
                    warningAlert(resp.Message);
                } else {
                    successAlert(resp.Message);
                }
                $("#loaderDiv").hide();
            }
        });


    });
    $('#btnCloseBatch').on('click', function () {

        $.ajax({
            type: "GET",
            url: '@Url.Action("OpenOrClodeBatchBlueCardDayEnd", "BlueCard")',
            data: { FlageOpen: false },
            beforeSend: function beforeSend() {
                $("#loaderDiv").show();
            },
            success: function success(resp) {
                if (resp.Code != "00") {
                    warningAlert(resp.Message);
                } else {
                    successAlert(resp.Message);
                }
                $("#loaderDiv").hide();
            }
        });

    });

</script>
