
@{
    ViewBag.Title = "IcardAPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <iframe src="@ViewBag.AspFile" style="margin:0;width:100%;height:1100px;border:none;overflow:hidden;" scrolling="no" onload="AdjustIframeHeightOnLoad(); parent.scrollTo(0, 0); scroll(0, 0);"></iframe>
    <!--<iframe id="form-iframe" src="@Url.Content("~/classicasp/"+@ViewBag.AspFile)" style="margin:0;border:none;overflow:hidden;" width="100%" scrolling="no" ></iframe>//-->
</div>
<p id="callback"></p>

<div id="modalPopup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function AdjustIframeHeightOnLoad() {
            document.getElementById("form-iframe").style.height = 0;
            document.getElementById("form-iframe").style.height = (document.getElementById("form-iframe").contentWindow.document.body.scrollHeight + 250) + "px";
            //document.getElementById("form-iframe").style.height = (document.getElementById("form-iframe").contentWindow.document.body.scrollHeight) + "px";
        }
        function AdjustIframeHeight(i) {
            document.getElementById("form-iframe").style.height = (parseInt(i) + 250) + "px";
        }

        //$('form-iframe').height($('form-iframe').contents().outerHeight());
        function resizeIframe() {

            var height = window.innerWidth; //Firefox
            var h = window.innerWidth; //Firefox
            if (document.body.clientHeight) {
                height = document.body.clientHeight; //IE
            }

            h = parseInt(height - 10);
            //document.getElementById("frame_show").style.height = h;
            var htd = document.documentElement.clientHeight;
            document.getElementById("form-iframe").style.height = (htd - 50) + "px";

        }
        $(window).resize(function () {
            var autoResEl = AdjustIframeHeightOnLoad();
            setInterval(autoResEl, 400);
            //resizeIframe();
        });

        //iFrameResize({
        //    log: true, heightCalculationMethod: 'lowestElement', heightCalculationMethod: 'max', warningTimeout: 0, autoResize: true, sizeHeight: true, sizeWidth: true, scrolling: false

        //}, '#form-iframe')

        //$('iframe').iFrameResize({
        //    log: true,
        //    warningTimeout: 0,
        //    doHeight: true,
        //    callback: function (messageData) {
        //                    $('p#callback').html('<b>Frame ID:</b> ' + messageData.iframe.id +
        //                                        ' <b>Height:</b> ' + messageData.height +
        //                                        ' <b>Width:</b> ' + messageData.width);
        //                }
        //});

        //$(document).ready(function () {
        //    $('iframe').iFrameSizer({
        //        log: true,
        //        contentWindowBodyMargin: 8,
        //        doHeight: true,
        //        doWidth: false,
        //        interval: 250,
        //        callback: function (messageData) {
        //            $('p#callback').html('<b>Frame ID:</b> ' + messageData.iframe.id +
        //                                ' <b>Height:</b> ' + messageData.height +
        //                                ' <b>Width:</b> ' + messageData.width);
        //        }
        //    });
        //});
    </script>
}



