<div class="modal fade" id="PartialCoupon" tabindex="-1" data-toggle="modal" style="z-index:1060;padding-top:15px">
    <div class="modal-dialog" role="document" style="height: auto;width: 35vw;margin-top:1vh">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">เพิ่มคูปอง</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="row">
                                  

                                        <div class="card text-white bg-success calculator-card ">
                                            <div class="card-body card-lg">
                                                <p class="text-details" style="text-align:center">ใส่รหัสคูปอง</p>
                                                <input type="text" class="input-no-bg text-result-lg" style="text-align:center;font-size: 5vh;" name="CouponCode" id="CouponCode" />
                                                <input type="hidden"  name="CouponId" id="CouponId" />
                                                <input type="hidden"  name="CheckCoupon" id="CheckCoupon" value="False" />
                                            
                                            </div>
                                        </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>

                </div>
                <br>
              


            </div>
            <div class="modal-footer center">
                <button type="button" id="btnCheckCoupon" class="btn btn-success" disabled>ยืนยัน</button>
                <button type="button"   class="btn btn-warning"  data-dismiss="modal" aria-label="Close" style="color:white">ยกเลิก</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->

</div>
