

<!-- Modal -->
<div class="modal fade" id="OnlinePaymentDetailModal" tabindex="-1" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="margin-top:10%">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="OP_Title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">
                <div class="card text-white bg-info calculator-card ">
                    <div class="card-body card-lg">
                        <p class="text-details">จำนวนเงิน (บาท)</p>
                        <input id="txtPaymentOnline" class="input-no-bg text-result-lg money" readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 credit-form">
                        <label>เอกสารอ้างอิง <font class="invalid">*</font></label> 
                        <input type="text" id="txtReferenceOnlineNo" class="input-credit-card form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">หมายเหตุ</span>
                    </div>
                    <input type="text" class="form-control" id="txtOnlineNote" aria-describedby="basic-addon1">
                    <input type="hidden" name="hd_OnlinePaymentType" id="hd_OnlinePaymentType"/>
                </div>
                <button type="button" id="btnOnlineReceiveMoney" class="btn btn-success">รับเงิน</button>
                
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

